
.services h1{
    color: #F9EF23;
    text-transform: uppercase;
    margin-top: -700px;
    font-family: 'Anton', sans-serif;
}

.services h2{
    margin-top: 100px;
    width: 80vw;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.imagensService{
    width: 85vw;
    height: 50vh;
    display: flex;

    /* justify-content: space-between;
    justify-items: center; */
    margin-left: 170px;
    margin-top: -80px;

}

.imagensService span{
    padding: 15px;
    /* flex-wrap: wrap; */
   
}

.categorias{
    display: flex;
    justify-items: center;
    position: relative;
}

.categorias h3{
    position: relative;
    top: 150px;
    left: 15px;
    margin-left: 260px;
    width: 150px;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 30px;
    
}

@media (max-width: 460px){ 
    .services h1{
        margin-top: 150px;
    }

    .imagensService{
        flex-direction: column;
        margin-left: 500px;
        margin-bottom: 500px;
        
    }
    .imagensService span{
       margin-bottom: 60px;
    }

    .services h2{
        margin-top: 150px;
        justify-content: center;
        text-align: center;
        width: 380px;
    }

   

}