.menu{
    background-color: #FFFFFF;
    color: #676A6C;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 1000;
}

.menu ul li{
    display: block;
    text-align: center;
    justify-content: center;
    float: left;
}

.menu li{
    position: relative;
    left: 900px;
    margin-left: 40px;
    font-size: 18px;
}

@media (max-width: 460px){ 

    .menu{
        display: flex;
        text-align: center;
    }
    .menu li{
        left: 152px;
        font-size: 14px;
        margin-left: 20px;
    }
    
}