*{
    margin: 0;
    padding: 0;
}
.depoimento{
    position: relative;
    top: 70px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color: #F9EF23;
    text-transform: uppercase;
    
}

.icon{
    position: relative;
    color: #F9EF23;
    top: 250px;
    right: 100px;
    width: 50vw;
    font-size: 150px;
}

.imagensAnteseDepois{
    width: 27%;
    display: flex;
    float: left;
    position: relative;
    top: 200px;
}

.imagensAnteseDepois img{
    margin-left: 40px;
    position: relative;
    left: 60px;
}

.blocoDepoimentos{
    border: 2px solid #FFFF;
    width: 95%;
    margin-left: 30px;
    height: 250px;
    display: flex;
    
    
}

.blocoDepoimentos span{
    background-color: #F9EF23;
    height: 220px;
    width: 31.7%;
    padding: 26px;
    margin-top: 198px;
    position: relative;
    left: 38px;
    display: flex;
    
    
}

.depoimentos ul li{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    float: left;
    font-size: 18px;
    color: black;
    width: 400px;
    font-weight: bolder;
}

.depoimentos li{
    width: 20px;
    margin-right: 40px;
    padding-left: 10px;
    position: relative;
    left: 100px;
    
}

@media (max-width: 460px){ 
    .depoimento{
        margin-top: -300px;
    }

    .imagensAnteseDepois{
        flex-wrap: wrap;
        left: 120px;
        gap: 220px;

        
    }
    .imagensAnteseDepois img{
        width: 300px;
        height: 250px;
        
    }

    .depoimentos{
        flex-wrap: wrap;
    }

    .depoimentos li{
        font-size: 14px;
        background-color: #F9EF23;
        margin-left: 64px;
    }

    .depoimento_Laura{
        position: relative;
        top: -830px;
        display: flex;
        justify-content: center;
        text-align: center;
        
    }

    .depoimento_Luana{
        position: relative;
        top: -540px;
    }

    .depoimento_Tomas{
        position: relative;
        top: -240px;
    }

    .blocoDepoimentos{
        visibility: hidden;
    }
    .blocoDepoimentos span{
        float: left;
        flex-wrap: wrap;
    }
}