* {
    margin: 0;
    padding: 0px 0px;
   
  }

.header{
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    color: #FFFFFF;
    position: relative;
    top: -500px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  
}
img{
    width: 100%;
    margin-top: -70px;
 
}

.simbolo{
  width: 8%;
  height: 8%;
  position: relative;
  top: 100px;
  right: 630px;
}

button{
  position: relative;
  top: -450px;
  left: 20px;
  
}

@media (max-width: 460px){ 
  .header{
    font-size: 54px;
  }
}