@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,600;1,900&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

a {
  font-weight: 500;
  color: #676A6C;
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
  color: black;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 1.3em 2.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F9EF23;
  cursor: pointer;
  color: black;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
